*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --black: #000000;
  --blue: #9de1e5;
  --blue-gradient: linear-gradient(93.96deg, #4b26ff 0%, #b01eff 100%);
  --dark-blue: #56ccf2;
}

@font-face {
  font-family: "Euclid Light";
  src: url("../src/fonts/EuclidCircularB-Light.ttf");
}
@font-face {
  font-family: "Euclid Regular";
  src: url("../src/fonts/EuclidCircularB-Regular.ttf");
}

@font-face {
  font-family: "Euclid Bold";
  src: url("../src/fonts/EuclidCircularB-Bold.ttf");
}

@font-face {
  font-family: "Euclid Medium";
  src: url("../src/fonts/EuclidCircularB-Medium.ttf");
}
body {
  -webkit-font-smoothing: antialiased;
  background: var(--white);

  overflow-x: hidden;
}

.Hero {
  width: 100%;
  height: 700px;
  background: url("../src/images/bg.png") no-repeat center center/cover;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.Hero svg {
  position: absolute;
  bottom: 0;
  right: 0;
}

.Hero .container {
  max-width: 800px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
}

@-webkit-keyframes Hero {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes Hero {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.Hero h1 {
  font-size: 60px;
  text-align: center;

  line-height: 76px;
  width: 100%;
  max-width: 450px;
  margin: 8px 0;
  -webkit-animation: Hero;
  animation: Hero;
  opacity: 0;
  font-family: "Euclid Bold";
  -webkit-animation: Hero 3s forwards cubic-bezier(0.075, 0.82, 0.165, 1);

  animation: Hero 3s forwards cubic-bezier(0.075, 0.82, 0.165, 1);
}

.Hero p {
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  margin: 8px 0;
  width: 100%;
  max-width: 450px;

  opacity: 0;
  font-family: "Euclid Regular";

  -webkit-animation: Hero 3s forwards cubic-bezier(0.075, 0.82, 0.165, 1);

  animation: Hero 3s forwards cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn {
  padding: 10px;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: all 0.3s ease-in;
  cursor: pointer;
  outline: none;
  border: none;
}
.btn_watch {
  width: 200px;
  height: 40px;
  background: var(--black);
  border-radius: 40px;
  margin: 8px;

  color: var(--white);
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
  text-transform: capitalize;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.btn_watch:hover {
  color: var(--black);
  background: var(--white);
  border: 1px solid var(--black);
}

.blue {
  color: var(--blue);
}

.Nav {
  padding: 10px;

  width: 100%;
  height: 90px;
}

.Nav .container {
  max-width: 900px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* grid-template-columns: repeat(3, 1fr); */
}

.Nav .logo {
  width: 40px;
  height: 40px;
}
.Nav .logo img {
  width: 100%;
  height: 100%;
}

.nav_links {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav_links ul {
  display: flex;
  flex-direction: row;
}

.nav_links ul li {
  list-style-type: none;
  padding: 10px;
}

.nav_links a {
  text-decoration: none;
  color: var(--white);
  font-size: 18px;
  font-weight: 700;
}
/* 
.nav_button {
  width: 100%;
  height: 100%;
} */

.btn_try {
  width: 160px;
  height: 40px;
  background: var(--dark-blue);
  font-weight: 600;
  border-radius: 10px;
  color: var(--black);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.btn_try:hover {
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  transform: translateY(5px);
  background: var(--dark-blue);
  color: var(--white);
}

.logos {
  width: 100%;
  height: 40px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  max-width: 800px;
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  justify-self: center;
  padding: 20px 15px;
}
.logos img {
  width: 40px;
  height: 40px;
  z-index: 10;
}

@media (max-width: 700px) {
  .nav_links {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .Hero h1 {
    font-size: 30px;

    line-height: 46px;
  }

  .Hero p {
    font-size: 16px;
    line-height: 24px;
  }

  .logos {
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
  }
  .logos img {
    width: 30px;
    height: 30px;
    z-index: 10;
  }
}
